.App {
  padding: 1em;
  text-align: center;
}
h1 {
  color: rgb(240, 126, 126);
  letter-spacing: .2em;
}
form {
  background-color: rgba(255, 255, 255, 0.356);
  padding-block: .75em;
  display: flex;
  justify-content: space-between;
  width: min(80%, 300px);
  margin: 2em auto;
  border-radius: 60px;
  padding-inline: 1.5em;
}
@media screen and (max-width: 450px) {
  form {
    padding-inline: 1em;
  }
}
input {
  padding-block: 1em;
  border: none;
  outline: none;
  background-color: transparent;
}
::placeholder {
  color: #fff;
  opacity: 0.7;
}
button {
  padding: .5em 2em;
  border: none;
  background-color: lightpink;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
}
.pop-up {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  right: 10px;
  top: 130px;
  border-radius: 5px;
  padding: .75em 1em;
  background-color: #CDFBB1;
  color: #000000;
  animation: slide .5s ease-in-out;
  font-size: .75rem;
}
@keyframes slide {
  0% {
    right: -100%;
  }
  100% {
    right: 20px;
  }
}
.imp-mssg {
  padding: 1em;
  display: inline-block;
  margin-bottom: 1em;
  font-family: 'Poppins', sans-serif;
}
.posted-submissions {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: .5em;
  flex-wrap: wrap;
}
.single-submission {
  padding: 1em;
  border-radius: 5px;
  font-size: 1.5rem;
  /* font-weight: 300; */
  max-width: 300px;
  background: rgba(237, 172, 248, 0.03);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(237, 172, 248, 0.3);
}
.heart {
  position: fixed;
  transform: translateX(-50%);
  z-index: -100;
  width: 40px;
  fill: red;
  animation: pulse 3s ease infinite;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}