body {
  margin: 0;
  font-family: 'Courgette', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(198,97,131);
  background: linear-gradient(67deg, rgba(198,97,131,1) 0%, rgba(162,18,108,1) 59%, rgba(155,98,226,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 7px;
  height: 1px;
}
::-webkit-scrollbar-track {
  background-color: rgba(240, 248, 255, 0.623);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(252, 82, 60);
}
